
* {
	box-sizing: border-box;
}

body {
	margin: 30px;
	padding: 0;
	font-family: Tahoma; 
	background-color: #50A9C7;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  color: #B0E8FB;
}

p {
	
}

.title {
	background: #31687A;
	color: #B0E8FB;
	position: absolute;
	right: 0;
	top:0;
	width: 100px;
	padding: 3px;
}

.description {
	position: relative;
	bottom: -20px;
}

#b1 { 
  float: left;
  position: relative;
  background-color: #50A9C7;
  border: #56717A solid 10px;
  margin: 10px;
  padding: 15px;
}

#b2 {
  float: left;
  position: relative;
  border: #56717A solid 10px;
  margin: 10px;
  padding: 15px;
}

#b3 {
  float: left;
  position: relative;
  border: #56717A solid 10px;
  margin: 10px;
  padding: 15px;
}

/********** Desktop version **********/
@media (min-width: 992px) {
  #b1 {
    width: 30%;
  }

  #b2 {
    width: 30%;
  }

  #b3 {
    width: 30%;
  }

}


/********** Tablet version **********/
@media (min-width: 768px) and (max-width: 991px) {
  #b1 {
    width: 48%;
  }

  #b2 {
    width: 48%;
    margin-right: 0px;
  }

  #b3 {
    width: 100%;
    clear: left;
  }

  
  }


/********** Mobile version **********/
@media (min-width: 0px) and (max-width: 767px) {
  #b1 {
    width: 100%;
  }

  #b2 {
    width: 100%;
  }

  #b3 {
    width: 100%;
  }

  
  }